footer.footer
    .container.container--footer
        .footer__wrap
            .footer__left
                a.logo.logo--footer
                    img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/logo-footer.svg" width="318" height="68" alt="logo-footer")
                .simple-text.simple-text--white.simple-text--medium-three
                    | FXIFY Solutions Limited, New Broad Street House, 35 New Broad Street, London, United Kingdom, EC2M 1NH
                .simple-text.simple-text--gray-three.simple-text--medium-three
                    | Company number 14451720
            .footer__body
                .footer__column
                    .title.title--white.title--medium Contacts
                    a(href="#").link.link--simple-white
                        .link__text Support Panel
                    a(href="#").link.link--simple-white
                        .link__text Live Chat
                    a(href="#").link.link--simple-white
                        .link__text Contact
                    a(href="#").link.link--simple-white
                        .link__text FAQs
                .footer__column
                    .title.title--white.title--medium Important Links
                    a(href="#").link.link--simple-white
                        .link__text Trader Dashboard
                    a(href="#").link.link--simple-white
                        .link__text Competitions
                    a(href="#").link.link--simple-white
                        .link__text Become a Partner
                    a(href="#").link.link--simple-white
                        .link__text Purchase Assessment
                .footer__column
                    .title.title--white.title--medium Programs
                    a(href="#").link.link--simple-white
                        .link__text How It Works
                    a(href="#").link.link--simple-white
                        .link__text One Phase
                    a(href="#").link.link--simple-white
                        .link__text Two Phase
                .footer__column
                    .title.title--white.title--medium Community
                    a(href="#").link.link--simple-white
                        .link__text Official Discord Community
                    a(href="#").link.link--simple-white
                        .link__text Official Twitter Community
                    a(href="#").link.link--simple-white
                        .link__text Official Facebook Community
                    a(href="#").link.link--simple-white
                        .link__text Official Instagram Community
script(type="text/javascript" src="scripts/modules/modules.js")
script(src="scripts/common.js")
