header.header
    .container.container--big
        .header__body
            a(href="#").logo.logo--header
                img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/logo.svg" width="214" height="56" alt="logo")
            ul.menu
                li
                    a(href="#") Home
                li
                    a(href="#") How It Works
                li.js-hover-link
                    a
                        span Plans
                        svg(width='11', height='8', viewBox='0 0 11 8', xmlns='http://www.w3.org/2000/svg')
                            path(d='M5.41611 7.00937L1.16611 2.75937C0.872363 2.46563 0.872363 1.99062 1.16611 1.7L1.87236 0.99375C2.16611 0.7 2.64111 0.7 2.93174 0.99375L5.94424 4.00625L8.95674 0.99375C9.25049 0.7 9.72549 0.7 10.0161 0.99375L10.7224 1.7C11.0161 1.99375 11.0161 2.46875 10.7224 2.75937L6.47236 7.00937C6.18486 7.30312 5.70986 7.30312 5.41611 7.00937Z')
                    ul.submenu
                        li
                            a(href="#") Item 1
                        li
                            a(href="#") Item Long
                        li
                            a(href="#") Item Very Long
                        li
                            a(href="#") Item Longer item
                li
                    a(href="#") FAQ
                li
                    a(href="#") Be a Partner
            .button-top
                .button.button--middle.button--gradient-bg
                    .button__text Client Area
                    .button__icon
                        svg(width='11', height='8', viewBox='0 0 11 8', xmlns='http://www.w3.org/2000/svg')
                            path(d='M5.41611 7.00937L1.16611 2.75937C0.872363 2.46563 0.872363 1.99062 1.16611 1.7L1.87236 0.99375C2.16611 0.7 2.64111 0.7 2.93174 0.99375L5.94424 4.00625L8.95674 0.99375C9.25049 0.7 9.72549 0.7 10.0161 0.99375L10.7224 1.7C11.0161 1.99375 11.0161 2.46875 10.7224 2.75937L6.47236 7.00937C6.18486 7.30312 5.70986 7.30312 5.41611 7.00937Z')
                ul.submenu
                    li
                        a(href="#") Item 1
                    li
                        a(href="#") Item Long
                    li
                        a(href="#") Item Very Long
                    li
                        a(href="#") Item Longer item
            a(href="#").button.button--gradient-border.button--middle.border-gradient
                .button__text Free Dashboard Tour
            button.burger.js-burger
                img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/burger.svg" width="22" height="16" alt="burger")
            button.change-theme.js-change-theme
                .change-theme__icon
                    svg#scheme(viewBox='0 0 26 26')
                        path(d='M12.7362 0.0602696C13.291 -0.165772 13.9677 0.274569 13.9882 0.871964C14.0007 1.70274 13.9934 2.53352 13.9919 3.36503C13.9956 3.77895 13.6925 4.17085 13.2888 4.26626C12.8815 4.38075 12.414 4.17305 12.2254 3.79436C12.1183 3.60501 12.1124 3.38191 12.1146 3.17054C12.1175 2.43517 12.1124 1.6998 12.1168 0.964436C12.1036 0.569597 12.3641 0.19017 12.7362 0.0602696Z')
                        path(d='M19.5667 3.21578C19.9909 3.1189 20.4576 3.35889 20.6235 3.7618C20.7585 4.05903 20.7064 4.4113 20.5332 4.68211C19.941 5.68095 19.8008 6.93079 20.1457 8.03824C20.4584 9.06717 21.1849 9.96106 22.1251 10.4814C22.9573 10.9548 23.9495 11.1228 24.8941 10.9827C25.3718 10.9144 25.8577 11.2747 25.9281 11.7518C25.9824 12.0248 25.8863 12.3015 25.7307 12.5238C24.9065 13.8485 23.5466 14.8232 22.0311 15.1872C20.7189 15.5116 19.2995 15.3861 18.068 14.829C16.8072 14.2683 15.7504 13.2636 15.1222 12.0351C14.5416 10.9078 14.3288 9.59705 14.5167 8.34355C14.7119 6.9939 15.379 5.71838 16.3779 4.79C17.2461 3.95482 18.377 3.40146 19.5667 3.21578ZM16.394 8.51455C16.1643 9.78126 16.5569 11.1412 17.4281 12.0886C18.1326 12.8776 19.1454 13.3781 20.1986 13.4676C21.1519 13.5564 22.1258 13.301 22.9235 12.7734C21.3515 12.4336 19.9241 11.4604 19.0551 10.1042C18.2244 8.83159 17.9059 7.24123 18.1708 5.7448C17.2439 6.38623 16.5797 7.40048 16.394 8.51455Z')
                        path(d='M4.29443 3.57479C4.62175 3.48306 4.98503 3.59534 5.21841 3.83826C5.77838 4.40043 6.34348 4.9582 6.89978 5.5233C7.25278 5.86824 7.25352 6.48765 6.90051 6.83258C6.56072 7.1988 5.92956 7.20687 5.57949 6.85166C4.9887 6.26307 4.39204 5.67962 3.81372 5.07929C3.36898 4.59272 3.6508 3.71424 4.29443 3.57479Z')
                        path(d='M11.4969 6.0119C11.8205 5.92089 12.1948 5.89521 12.4788 6.10657C12.9037 6.38252 13.0138 7.01807 12.7093 7.42245C12.5449 7.66611 12.2601 7.7872 11.9783 7.83197C10.7072 8.0881 9.54688 8.83888 8.78656 9.88836C8.0255 10.9232 7.66809 12.2442 7.8002 13.5219C7.90661 14.6088 8.3631 15.6576 9.08599 16.4766C9.99309 17.5173 11.3251 18.1741 12.7027 18.2585C13.9752 18.348 15.2735 17.9503 16.279 17.1665C16.5432 16.9712 16.7655 16.6836 17.1083 16.6292C17.5603 16.5331 18.0491 16.8274 18.1783 17.2699C18.2913 17.6207 18.1695 18.0237 17.8921 18.2636C16.7376 19.3234 15.2243 19.9861 13.6619 20.1131C12.0715 20.2496 10.4356 19.8386 9.10948 18.9469C7.71873 18.0317 6.67219 16.6102 6.20543 15.0132C5.76289 13.5234 5.82013 11.8868 6.38377 10.4381C7.20794 8.23048 9.19608 6.51315 11.4969 6.0119Z')
                        path(d='M0.914241 12.0705C1.73988 12.0558 2.56699 12.0661 3.39336 12.0653C3.81022 12.0528 4.20946 12.3471 4.31514 12.7515C4.43256 13.1471 4.24909 13.6058 3.88948 13.8098C3.69573 13.9324 3.46014 13.947 3.23704 13.9434C2.47745 13.9382 1.71713 13.9492 0.957541 13.9382C0.469497 13.9331 0.0416326 13.4884 0.0570445 13.0003C0.0467699 12.5299 0.443811 12.0969 0.914241 12.0705Z')
                        path(d='M5.98875 18.921C6.36304 18.8153 6.78797 18.976 7.003 19.2982C7.25693 19.652 7.20702 20.1767 6.89879 20.4827C6.34102 21.0493 5.77518 21.6078 5.21375 22.1707C4.77267 22.691 3.83034 22.5024 3.63366 21.8463C3.51257 21.5183 3.6021 21.1293 3.84796 20.8834C4.39692 20.3286 4.95248 19.7789 5.50291 19.2256C5.63721 19.0868 5.79867 18.968 5.98875 18.921Z')
                        path(d='M19.6356 18.9221C19.9776 18.823 20.3555 18.9515 20.5926 19.2105C21.1511 19.7756 21.7213 20.3305 22.2747 20.9007C22.613 21.2588 22.5851 21.8812 22.2167 22.2085C21.8674 22.5512 21.2546 22.5395 20.9155 22.1887C20.3599 21.6397 19.8117 21.0834 19.2591 20.5323C19.0661 20.351 18.9391 20.0949 18.9435 19.827C18.9354 19.4146 19.2363 19.0234 19.6356 18.9221Z')
                        path(d='M12.7925 21.7462C13.3451 21.5613 13.9777 22.0112 13.9895 22.5924C14.0005 23.4041 13.9924 24.2165 13.9939 25.0282C14.0049 25.3827 13.8053 25.735 13.4868 25.895C13.1183 26.0953 12.6259 25.9999 12.3529 25.6843C12.176 25.4906 12.1056 25.2234 12.1151 24.9658C12.1195 24.1806 12.1092 23.3953 12.1202 22.61C12.1276 22.2166 12.4138 21.8512 12.7925 21.7462Z')
                .change-theme__switcher
                    span
.mobile-menu
    .mobile-menu__top
        a(href="#").logo.logo--header
            img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/logo.svg" width="214" height="56" alt="logo")
        .mobile-menu__close.js-close-menu
            img(src="content/images/icons/close.svg" width="30" height="30")
    ul.mobile-menu__list.js-acc-wrap
        li
            a(href="#").mobile-link
                .mobile-link__body
                    .mobile-link__text Home
        li
            a(href="#").mobile-link
                .mobile-link__body
                    .mobile-link__text How It Works
        li
            a.mobile-link.js-acc
                .mobile-link__body.js-open-acc
                    .mobile-link__text Plans
                    .mobile-link__arrow
                        img(src="content/images/icons/arrow.svg" width="12" height="16")
                .mobile-link__list.js-acc-block
                    a(href="#") Item 1
                    a(href="#") Item Long
                    a(href="#") Item Very Long
                    a(href="#") Item Longer item
        li
            a(href="#").mobile-link
                .mobile-link__body
                    .mobile-link__text FAQ
        li
            a(href="#").mobile-link
                .mobile-link__body
                    .link__text Be a Partner
    .mobile-menu__user
        .user-cart
            .user-cart__numb
                .user-cart__numb-item
                    span.default-gradient #3
                    span Position
            .user-cart__ava
                img(src='content/images/empty.gif' class="lazy" data-src="content/images/pics/man.jpg" width="63" height="63" alt="man")
            .user-cart__line
                svg(width='400', height='115', viewBox='0 0 400 115', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M236.148 4.49969C234.417 5.74017 232.639 7.51059 230.819 9.55778C228.077 12.6924 225.16 16.8504 222.105 21.2043C221.629 21.8828 221.15 22.566 220.667 23.2509C217.128 28.2749 213.423 33.376 209.693 37.1161C203.151 45.5083 195.633 50.2264 188.058 52.12C185.656 52.7206 183.311 53.1347 181.042 53.5352C179.821 53.7508 178.622 53.9625 177.448 54.1972C174.063 54.8743 170.727 55.7665 167.179 57.5344C165.407 58.6454 163.68 59.9818 161.94 61.3508C161.782 61.475 161.624 61.5995 161.466 61.7242C159.883 62.9718 158.283 64.2323 156.68 65.3009C153.184 67.6318 149.39 69.2425 145.265 67.7213C143.251 67.2054 141.302 66.0264 139.447 64.5656C137.568 63.0865 135.721 61.2662 133.936 59.4237C133.352 58.8202 132.776 58.2166 132.207 57.6202C131.021 56.3767 129.864 55.1643 128.718 54.0475C127.024 52.3966 125.433 51.0345 123.94 50.181L123.923 50.1712L123.906 50.1608C120.533 48.0529 117.17 48.0339 113.807 49.0101C110.66 49.9238 107.591 51.684 104.583 53.41C104.323 53.5588 104.064 53.7074 103.805 53.8552L103.781 53.869L103.757 53.8814C96.4825 57.5184 89.2515 62.041 82.014 70.1825C78.7127 73.9546 75.1823 76.5441 71.5884 78.8685C70.4683 79.593 69.3518 80.2862 68.2364 80.9787C65.7603 82.5159 63.2892 84.0501 60.7936 85.9171C57.4896 89.2017 53.6697 91.1105 49.5843 89.6609C45.6089 88.2503 41.789 83.7677 38.0972 75.4612L38.0916 75.4486L38.0863 75.4358C36.7452 72.1789 35.3802 68.645 33.9889 65.0434C32.0063 59.9107 29.9706 54.6406 27.8756 49.839C26.1031 45.7764 24.3176 42.1228 22.5334 39.2688C20.7256 36.377 19.0111 34.4603 17.4372 33.6734C16.7691 33.3393 16.1514 33.3231 15.5194 33.5546C14.8482 33.8006 14.1108 34.3477 13.3221 35.2366C11.7405 37.0192 10.1841 39.9087 8.7003 43.3899C6.24089 49.16 4.09525 56.2701 2.37884 61.9579C2.03049 63.1123 1.69981 64.2081 1.38778 65.2222L-2.24219 77.0196V113.611H-4.24219V76.7188L-0.523778 64.634C-0.218111 63.6406 0.107838 62.5601 0.452854 61.4165C2.16747 55.733 4.35301 48.4885 6.86046 42.6057C8.36196 39.0829 10.0204 35.9444 11.826 33.9093C12.7309 32.8894 13.7301 32.0802 14.8314 31.6767C15.972 31.2588 17.1626 31.3 18.3316 31.8845C20.4319 32.9346 22.3916 35.2691 24.2293 38.2086C26.0906 41.186 27.9219 44.9439 29.7087 49.0392C31.8072 53.8489 33.8856 59.2265 35.8901 64.4133C37.2782 68.0049 38.6309 71.5051 39.9304 74.6616C43.585 82.8801 47.1114 86.6612 50.2531 87.776C53.2654 88.8449 56.3163 87.5661 59.4305 84.452L59.4807 84.4017L59.5376 84.3591C62.1245 82.4189 64.7368 80.7967 67.266 79.2261C68.3634 78.5446 69.4451 77.8729 70.5022 77.1892C74.026 74.9101 77.3839 72.4369 80.5116 68.8623L80.5167 68.8565C87.9668 60.4752 95.4235 55.8139 102.837 52.105C103.095 51.9575 103.356 51.8079 103.619 51.6569C106.584 49.9543 109.859 48.0737 113.249 47.0894C117 46.0005 120.979 45.98 124.949 48.4544C126.665 49.4382 128.398 50.9421 130.114 52.6153C131.286 53.7574 132.486 55.0152 133.687 56.2738C134.25 56.8637 134.813 57.4537 135.373 58.0321C137.147 59.8638 138.917 61.6028 140.684 62.9942C142.457 64.3905 144.165 65.3849 145.805 65.795L145.86 65.8089L145.914 65.8288C149.116 67.0297 152.193 65.8886 155.571 63.6368C157.104 62.6149 158.64 61.4043 160.236 60.1465C160.391 60.0245 160.547 59.9019 160.703 59.7791C162.452 58.4029 164.27 56.9936 166.159 55.8132L166.199 55.788L166.242 55.7667C170.026 53.8745 173.566 52.934 177.056 52.236C178.323 51.9826 179.564 51.7641 180.802 51.5459C183.019 51.1552 185.229 50.7657 187.573 50.1797C194.68 48.4029 201.844 43.9502 208.153 35.8392L208.191 35.79L208.235 35.746C211.839 32.1417 215.467 27.1591 219.032 22.099C219.51 21.4217 219.986 20.7428 220.461 20.0659C223.507 15.7224 226.496 11.461 229.316 8.2382L229.321 8.23234C231.175 6.14746 233.07 4.24494 234.983 2.87396C236.889 1.50812 238.915 0.596141 241.009 0.66367C243.145 0.732584 245.142 1.81228 246.979 3.98911C248.797 6.14286 250.509 9.4234 252.132 14.0569C255.796 23.2159 259.459 32.342 263.123 41.4687L263.146 41.5253L263.15 41.5358C266.823 50.6844 270.496 59.8336 274.169 69.0162L274.177 69.0366L274.184 69.0573C275.774 73.6002 277.389 76.624 278.98 78.4825C280.553 80.3194 282.035 80.9483 283.427 80.9034C284.876 80.8566 286.47 80.0757 288.219 78.5749C289.95 77.0892 291.728 74.9882 293.54 72.4983C295.22 69.8672 297 68.2587 298.879 67.262C300.751 66.2685 302.65 65.9232 304.467 65.7057C304.938 65.6493 305.402 65.6008 305.862 65.5529C308.991 65.2264 311.879 64.9249 314.835 62.3384C316.771 60.6449 318.705 59.6255 320.668 59.2393C322.638 58.8518 324.557 59.1177 326.428 59.8661C330.106 61.3371 333.68 64.7096 337.348 68.8344C339.223 70.7127 341.027 72.9268 342.776 75.1624C343.295 75.8264 343.808 76.4907 344.317 77.1498C345.542 78.7356 346.744 80.2914 347.952 81.7403C349.659 83.7891 351.323 85.5558 352.981 86.8063C354.64 88.0569 356.21 88.7289 357.747 88.7289C359.294 88.7289 360.874 88.0497 362.561 86.9295C363.939 86.0151 365.295 84.8729 366.699 83.6898C367.02 83.4197 367.343 83.1474 367.67 82.8753C369.389 81.4427 371.201 80.0143 373.082 79.1351C374.979 78.2491 377.028 77.8834 379.171 78.6687C381.255 79.2066 383.232 80.6734 385.037 82.5659C386.871 84.4895 388.608 86.9391 390.179 89.5588C393.312 94.7794 395.859 100.794 397.259 104.982L400.914 113.205L399.086 114.017L395.392 105.706L395.377 105.66C394.018 101.584 391.521 95.6818 388.464 90.5878C386.936 88.0407 385.286 85.7253 383.589 83.946C381.879 82.1524 380.201 80.9875 378.631 80.595L378.576 80.5812L378.522 80.5612C377.011 79.9945 375.519 80.2042 373.929 80.9471C372.309 81.704 370.676 82.9738 368.95 84.4117C368.644 84.6666 368.335 84.9272 368.023 85.19C366.615 86.377 365.15 87.6117 363.668 88.5957C361.853 89.8006 359.874 90.7289 357.747 90.7289C355.609 90.7289 353.62 89.7933 351.777 88.4031C349.933 87.0128 348.153 85.1054 346.415 83.0207C345.183 81.5417 343.945 79.939 342.71 78.3404C342.206 77.6882 341.703 77.0367 341.2 76.3945C339.453 74.1604 337.705 72.0194 335.913 70.2279L335.892 70.2071L335.873 70.1852C332.2 66.0531 328.891 63.0051 325.686 61.7231C324.112 61.0938 322.587 60.9003 321.054 61.2017C319.516 61.5045 317.891 62.3222 316.152 63.8436C312.689 66.8735 309.159 67.2318 306.025 67.5498C305.576 67.5953 305.136 67.6399 304.705 67.6915C302.963 67.9 301.359 68.2102 299.816 69.0288C298.285 69.8409 296.741 71.1936 295.211 73.5987L295.194 73.6249L295.176 73.65C293.32 76.2013 291.43 78.4544 289.521 80.0926C287.625 81.7206 285.602 82.8342 283.492 82.9023C281.325 82.9722 279.304 81.9363 277.461 79.7832C275.639 77.6549 273.927 74.3704 272.304 69.7388C268.641 60.5802 264.977 51.4546 261.313 42.3285L261.29 42.2704L261.288 42.2645C257.614 33.1144 253.941 23.9636 250.267 14.7794L250.259 14.759L250.252 14.7383C248.662 10.1973 247.046 7.16942 245.451 5.27905C243.872 3.40852 242.367 2.70853 240.944 2.66263C239.478 2.61534 237.887 3.25341 236.148 4.49969Z', fill='url(#paint0_linear_65_101)')
                    defs
                        lineargradient#paint0_linear_65_101(x1='-4.24219', y1='34.2981', x2='401.658', y2='39.8178', gradientUnits='userSpaceOnUse')
                            stop(offset='0' stop-color='#1AA72A')
                                animate(attributeName='stop-color', values='#1AA72A;#fff;#1AA72A', dur='4s', repeatCount='indefinite')
                            stop(offset='0.2' stop-color='#fff')
                                animate(attributeName='stop-color', values='#fff;#69D645;#fff', dur='4s', repeatCount='indefinite')
                            stop(offset='1', stop-color='#69D645')
                                animate(attributeName='stop-color', values='#69D645;#1AA72A;#69D645', dur='4s', repeatCount='indefinite')
            .user-cart__top
                .user-cart__name Henry Carter
                .user-cart__balance Starting Balance: <span>$100,000</span>
            .user-cart__bottom
                .user-cart__numb-item
                    span.default-gradient 34%
                    span.ttu EQUITY GROWTH
                .user-cart__numb-item
                    span.default-gradient $212,000
                    span.ttu TOTAL PAID OUT
        .challenge-block
            .challenge-block__top
                .challenge-block__board
                    span active
                .challenge-block__body
                    .title.title--white.title--mini
                        span.default-gradient January 2023
                        |  Global Trading Competition
                    .icon-text
                        .icon-text__icon
                            img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/kubok.svg" width="18" height="18" alt="logo")
                        .icon-text__title FundedForex Challenge Accounts
        .rate-block
            .rate-block__icon
                svg(width='49', height='49', viewBox='0 0 49 49', xmlns='http://www.w3.org/2000/svg')
                    path(d='M17.7218 18.1296C18.4376 17.4138 18.4376 16.2532 17.7218 15.5374C17.0059 14.8215 15.8453 14.8215 15.1295 15.5374C14.4136 16.2532 14.4136 17.4138 15.1295 18.1296C15.8453 18.8455 17.0059 18.8455 17.7218 18.1296Z')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M15.8366 16.2445C15.5113 16.5698 15.5113 17.0972 15.8366 17.4225C16.1619 17.7478 16.6893 17.7478 17.0147 17.4225C17.34 17.0972 17.34 16.5698 17.0147 16.2445C16.6893 15.9191 16.1619 15.9191 15.8366 16.2445ZM14.4224 18.8367C13.316 17.7304 13.316 15.9366 14.4224 14.8302C15.5287 13.7239 17.3225 13.7239 18.4289 14.8302C19.5352 15.9366 19.5352 17.7304 18.4289 18.8367C17.3225 19.9431 15.5287 19.9431 14.4224 18.8367Z')
                    path(d='M33.2755 33.6833C33.9913 32.9675 33.9913 31.8069 33.2755 31.0911C32.5596 30.3752 31.399 30.3752 30.6832 31.0911C29.9673 31.8069 29.9673 32.9675 30.6832 33.6833C31.399 34.3992 32.5596 34.3992 33.2755 33.6833Z')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M31.3903 31.7982C31.065 32.1235 31.065 32.6509 31.3903 32.9762C31.7156 33.3016 32.243 33.3016 32.5683 32.9762C32.8937 32.6509 32.8937 32.1235 32.5683 31.7982C32.243 31.4729 31.7156 31.4729 31.3903 31.7982ZM29.9761 34.3905C28.8697 33.2841 28.8697 31.4903 29.9761 30.384C31.0824 29.2776 32.8762 29.2776 33.9826 30.384C35.0889 31.4903 35.0889 33.2841 33.9826 34.3905C32.8762 35.4968 31.0824 35.4968 29.9761 34.3905Z')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M14.4224 34.3902C14.0318 33.9997 14.0318 33.3665 14.4224 32.976L32.5683 14.83C32.9589 14.4395 33.592 14.4395 33.9826 14.83C34.3731 15.2206 34.3731 15.8537 33.9826 16.2442L15.8366 34.3902C15.4461 34.7807 14.8129 34.7807 14.4224 34.3902Z')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M24.2025 2.40771C11.9404 2.40771 2 12.3481 2 24.6102C2 36.8723 11.9404 46.8127 24.2025 46.8127C36.4646 46.8127 46.405 36.8723 46.405 24.6102C46.405 12.3481 36.4646 2.40771 24.2025 2.40771ZM0 24.6102C0 11.2435 10.8358 0.407715 24.2025 0.407715C37.5692 0.407715 48.405 11.2435 48.405 24.6102C48.405 37.9769 37.5692 48.8127 24.2025 48.8127C10.8358 48.8127 0 37.9769 0 24.6102Z')
            .rate-block__body
                .title.title--white.title--mini
                    span.default-gradient Win Rate
                .title.title--white.title--mini 83.34%
        .date-block
            .date-block__body
                .title.title--white.title--mini
                    span.default-gradient End Date
                .title.title--white.title--mini Ultimate Time
            .date-block__icon
                img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/infinite.svg" width="94" height="46" alt="infinite")
        .date-block.date-block--secondary
            .date-block__body
                .title.title--white.title--mini
                    span.default-gradient Equity
                .title.title--white.title--mini $213,800
            .date-block__icon
                span +6.9%
                img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/duga.svg" width="94" height="46" alt="infinite")
        .challenge-block
            .challenge-block__top
                .challenge-block__board
                    span active
                .challenge-block__body
                    .title.title--white.title--mini
                        span.default-gradient May 2023
                        |  Global Trading Competition
                    .icon-text
                        .icon-text__icon
                            img(src='content/images/empty.gif' class="lazy" data-src="content/images/icons/kubok.svg" width="18" height="18" alt="logo")
                        .icon-text__title FundedForex Challenge Accounts
