extends ../layout/base

block variables

    - var title='';
    - var description='';
    - var pageClass='main';

block content
    section.section.section-start
        .container
            .start-block
                .start-block__top
                    | Frontend
                    span.default-gradient  FUNDED FOREX
                .start-block__list
                    a(href="main.html").button.button--gradient-bg.button--big
                        .button__text Main
                    a(href="step-one.html").button.button--gradient-bg.button--big
                        .button__text Step-one
                    a(href="step-two.html").button.button--gradient-bg.button--big
                        .button__text Step-two
                    a(href="affiliate.html").button.button--gradient-bg.button--big
                        .button__text Affiliate
                    a(href="how-it-work.html").button.button--gradient-bg.button--big
                        .button__text How-it-work
                    a(href="faq.html").button.button--gradient-bg.button--big
                        .button__text Faq
                    a(href="general.html").button.button--gradient-bg.button--big
                        .button__text General
block script
