/* Vars:
   ========================================================================== */

// Font
$mainFont: 'Poppins', Helvetica, Arial, sans-serif;
$secondFont: 'Satoshi', Helvetica, Arial, sans-serif;
//$secondFont: 'Noto Serif', Helvetica, Arial, sans-serif;

// Main color
$color-white: #fff;
$color-black: #000;
$color-dark: #212121;
